apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: shopsync/frontend:latest
        ports:
        - containerPort: 3000
        env:
        - name: NEXT_PUBLIC_AUTH_API
          value: "http://auth-service:3000"
        - name: NEXT_PUBLIC_ORDER_API
          value: "http://order-service:3001"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
